services:

  db:
    image: postgres:17
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data


  # db:
  #   image: postgres
  #   user: postgres
  #   volumes:
  #     - db-data:/var/lib/postgresql/data
  #   environment:
  #     - POSTGRES_DB=app
  #     - POSTGRES_PASSWORD=postgres
  #     - POSTGRES_USER=postgres
  #   ports:
  #     - "5432:5432"
  #   healthcheck:
  #     test: [ "CMD", "pg_isready" ]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5

volumes:
  db-data:

  # db:
  #   image: postgres
  #   environment:
  #     POSTGRES_USER: ${DB_USER}
  #     POSTGRES_PASSWORD: ${DB_PASSWORD}
  #     POSTGRES_DB: ${DB_NAME}
  #     POSTGRES_HOST: ${DB_HOST}
  #     POSTGRES_PORT: ${DB_PORT}
  #   ports:
  #     - "5432:5432"
  #   volumes:
  #     - pgdata_prod:/var/lib/postgresql/data

  # migrate:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.migrate
  #   depends_on:
  #     - db
  #   environment:
  #     DATABASE_URL: postgres://${DB_USER}:${DB_PASSWORD}@db:${DB_PORT}/${DB_NAME}
  #   entrypoint: >
  #     sh -c "
  #     until nc -z db 5432; do echo 'Waiting for db...'; sleep 1; done &&
  #     npx drizzle-kit migrate
  #     "


